.card-container {
    background: white;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(255, 76, 76, 0.7);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-container:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-logo img {
    width: 120px;
    height: auto;
    margin-bottom: 1rem;
}

.card-button .navegacao {
    background-color: red;
    color: white;
    padding: 0.7rem 2rem;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.card-button .navegacao:hover {
    background-color: #CC0000;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .card-container {
        width: 90%;
    }
}
