.logo-dois {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79%;
  height: 330px;
  margin: 3% 10% 5px 10%;
  border-top: 2px solid #9c9c9c;
  opacity: 0;
  transition: 400ms;
  transform: translateX(700px);
}
.logo-dois img {
  border-radius: 9px;
  background: linear-gradient(
    135deg,
    #b4b4b4,
    #f0f0f0,
    #d1d1d1,
    #bbbbbb,
    #eeeeee
  );
  background-size: 200% 200%;
  animation: metallic-shine 3s linear infinite;
  box-shadow: 5px 5px 15px rgba(102, 102, 102, 0.5);
  background-color: #b4b4b4;
  height: 200px;
  width: 45%;
  object-fit: cover;
}

.logo-dois img:hover{
  border: 1px solid #ffffff;
  transition: 100ms;
}
.fimFooter {
  text-align: center;
  padding: 35px;
  background-color: #000000;

}
.fimFooter h1 {
  font-size: 1.05em;
  font-weight: bold;
  color: #ffffff;
}