.links-contact {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0 10px;
}

.links-contact svg {
    color: rgb(255, 0, 0);
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.links-contact svg:hover {
    color: rgb(255, 91, 91);
    transform: scale(1.1);
    transition: 500ms;
}

