/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
.css-vp839k-MuiTypography-root {
  display: flex;
  justify-content: center;
}

#planos {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  margin: 70px 0 0;
}
#sobre {
  padding: 80px 35px;
}
@media (max-width: 768px) {
  /* md no MUI é 900px */
  #sobre {
    padding: 60px 15px;
  }
}
#contato {
  padding: 100px 0;
}
#treinadores {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 25px;
}
.css-1ll44ll-MuiOutlinedInput-notchedOutline {
  border-color: #6870fa !important;
}

body {
  line-height: 1;
  background-color: #e7e7e7;
  position: relative;
  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #20202000;
}

::-webkit-scrollbar-thumb {
  background: #3e4396;
  border-radius: 10px;
  border: 3px outset #ffffff;
  transition: 0.5s;
}

.css-1umw9bq-MuiSvgIcon-root {
  font-size: 2.9rem !important;
}
.css-ij6izv-MuiButtonBase-root-MuiIconButton-root {
  background: #1f2a40 !important;
  border: 1px solid #535ac8 !important;
}

@media (max-width: 768px) {
  .css-gcjjdm {
    width: 500px !important;
  }
  .css-linmts {
    margin: 10px 140px !important;
  }
  .css-1vs4f6n-MuiStack-root>:not(style)~:not(style)
 {
    margin-top: 0px !important;
}
}
@media (max-width: 490px) {
  .css-linmts {
    width: 130px !important;
    margin: 10px 65px !important;
  }
  .css-gcjjdm {
    width: 340px !important;
  }
}
@media (max-width: 320px) {
  .css-linmts {
    width: 90px !important;
    margin: 10px 60px !important;
  }
  .css-gcjjdm {
    width: 270px !important;
    height: 450px !important;
  }
  .css-12w2qzm-MuiFormControl-root-MuiTextField-root {
    margin-top: 10px !important ;
  }
}
