.caixaDetxt {
  background-color: rgb(238, 238, 238);
  padding: 30px;
  border-radius: 20px;
  width: 125%;
  box-shadow: 30px 5px 30px rgba(36, 36, 36, 0.384);
  
  opacity: 0;
}
.caixa {
  position: relative;
  right: 190px;
}
.caixaDetxt h1 {
  font-weight: 600;
  font-size: 3.5em;
  color: #ff0000;
  margin: 5px 0 20px;
  display: flex;
  justify-content: center;
}
.caixaDetxt span {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-transform: uppercase;
  background: linear-gradient(20deg, #fff, #ff0000);
  background-size: 400% 100%;
  animation: degrade 1500ms linear infinite alternate;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  outline: none;
  margin-left: 15px;
}
@keyframes degrade {
  0% {
    background-position-x: 0%;
  }

  100% {
    background-position: 300%;
  }
}
.caixaDetxt p {
  margin: 0px 58px 20px;
  text-align: center;
  font-weight: 600;
  font-size: 1.8em;
  text-align: left;
  color: rgb(85, 85, 85);
}

.buttionTxt {
  display: flex;
  justify-content: center;
}
.buttionTxt button {
  padding: 20px;
  font-size: 1.8em;
  border-radius: 10px;
  background-color: #ff0000;
  color: #ffffff;
  border: none;
}

.buttionTxt button:hover {
  background-color: #f52b2b;
  transform: scale(1.1);
  transition: 300ms;
}
