#treinadores {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 100px;
}
.cardHome-container {
  opacity: 0;
  z-index: 99999;
}
.container-cx {
  border: none;
  background: #ffffff;
  box-shadow: 0px 4px 60px rgba(177, 177, 177, 0.973);
  padding: 30px;
  text-align: center;
  border-radius: 20px;
}
.cardHome-image img {
  object-fit: cover;
  border-radius: 20px;
}
.container-cx:hover{
  transition: 2s;
  box-shadow: 0px 4px 60px rgba(255, 40, 40, 0.973)
}
.container-cx:hover img {
  transform: scale(1.02); 
  transition: 600ms; 
}
.cardHome-titulo {
  font-weight: 600;
  font-size: 2.1em;
  margin: 20px 0;
  color: #ff0000;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-transform: uppercase;
  background: linear-gradient(20deg, #cecece, #ff0000);
  background-size: 400% 100%;
  animation: degrade 2900ms linear infinite alternate;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  outline: none;
}
.cardHome-text {
  font-size: 1.4em;
}
