.links-footer {
  display: flex;
  justify-content: center;
  gap: 80px;
  width: 80%;
  padding: 20px 0px 45px;
  margin: -1% 10% 5px 10%;
  border-bottom: 2px solid #9c9c9c;
  transform: translateX(-700px);
  opacity: 0;
  transition: 400ms;
}

.links-footer svg {
  width: 80px;
  height: 80px;
  color: #ff0000;
}

.links-footer svg:hover {
  transform: scale(1.5);
  transition: transform 500ms, background 500ms;
  background: linear-gradient(
    135deg,
    #b4b4b4,
    #f0f0f0,
    #d1d1d1,
    #bbbbbb,
    #eeeeee
  );
  background-size: 400% 400%;
  animation: metallic-shine 3s linear infinite;
  box-shadow: 5px 5px 15px rgba(102, 102, 102, 0.5);
  border-radius: 50%; /* Added for better SVG visual appearance */
  padding: 10px;
}

@keyframes metallic-shine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

