
.banner-container {
  width: 100%;
  overflow: hidden; 
  position: relative;
  border-radius: 10px;
  width: 100%;
}


.banner-slider {
  display: flex;
  transition: transform 2s ease-in-out; 
  width: 100%; 
  height: 100%;
}


.banner-slider img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  border-radius: 10px; 
}
